<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<%- include('flashMessages') %>
    <h1>New Course</h1>
    <form action="/courses/<%= course.id %>?_method=PUT" method="POST">
    	<div>
	    	<label for="affiliateUrl">Affiliate Url</label>
	    	<input type="text" name="affiliateUrl" id="affiliateUrl" value="<%= course.affiliateUrl %>">
			</div>
			<div>
	    	<label for="reviewAuthor">Review Author</label>
	    	<input type="text" id="reviewAuthor" name="reviewAuthor" value="<%= course.reviewAuthor %>">
    	</div>
    	<div>
	    	<label for="review">Review</label>
				<textarea name="review" id="review"><%= course.review %></textarea>
			</div>
			<div>
				<label for="categories">Categories</label>
        <select name="categories" id="" multiple>
          <% categories.forEach(cat => { %>
          <option value="<%= cat.name %>"><%= cat.formal %></option>
          <% }); %>
        </select>
        <div>
  				<small><%= course.categories %></small>
        </div>
			</div>
    	<input type="submit">
    </form>
  </body>
</html>
