<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48122069-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-48122069-2');
  </script>
  
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Browse top rated technology courses from Udemy. Find your next course, today!" name="description">

  <!-- Favicons -->
  <link href="img/favicon.ico" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  <%- include('flashMessages') %>
  <!--==========================
  Header
  ============================-->
  <header id="header">

<!--     <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div> -->

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span>DevSprout</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <!-- <li><a href="#about">About Us</a></li> -->
          <!-- <li><a href="#services">Services</a></li> -->
          <li><a href="#portfolio">Courses</a></li>
          <!-- <li><a href="#team">Team</a></li> -->
<!--           <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li> -->
          <!-- <li><a href="#footer">Contact Us</a></li> -->
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-last order-first">
          <h2>Top Rated<br><span>Udemy</span> Course Suggestions</h2>
          <div>
            <a href="<%= currentUser && currentUser.admin ? '/courses/new' : '#portfolio' %>" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-last d-none d-md-block">
          <img src="img/intro-img.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
    Udemy Sale Banner 1
    ============================ -->
    
    <% if((new Date()).getDate() >= 21 && (new Date()).getDate() <= 29) { %>
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">New customer offer!</h3>
            <p class="cta-text">Top courses from $10.99 when you first visit Udemy.</p>
            <a href="https://click.linksynergy.com/fs-bin/click?id=O*yDCFDQTmY&offerid=624447.12048&type=3&subid=0"
            >
              <img src="/images/banners/39197_8959.png" alt="Top courses from $10.99 for new customers" class="img-fluid mb-2">
            </a>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="https://click.linksynergy.com/fs-bin/click?id=O*yDCFDQTmY&offerid=624447.12048&type=3&subid=0">Explore This Sale on Udemy!</a>
          </div>
        </div>

      </div>
    </section>
    
    <% } %>

    <!--==========================
      Features Section
    ============================-->
  <!--   <section id="features">
      <div class="container">

        <div class="row feature-item">
          <div class="col-lg-6 wow fadeInUp">
            <img src="img/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4>
            <p>
              Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
            </p>
            <p>
              Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.
            </p>
          </div>
        </div>

        <div class="row feature-item mt-5 pt-5">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="img/features-2.svg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h4>
            <p>
             Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis beatae incidunt sunt. 
            </p>
            <p>
              Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
            </p>
            <p>
              Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut fuga mollitia exercitationem nam accusantium provident quia.
            </p>
          </div>
          
        </div>

      </div>
    </section> --><!-- #about -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title mb-0">Suggested Courses</h3>
          <p><small>(Udemy compensates me for any purchases made from the links below)</small></p>
          <h4 class="text-center">What would you like to learn?</h4>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active"><button class="btn btn-outline-primary btn-primary">Everything</button></li>
              <% categories.forEach(cat => { %>
                <li data-filter=".filter-<%= cat.name %>"><button class="btn btn-outline-primary"><%= cat.formal %></button></li>
              <% }); %>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

					<% var count = 0; %>
          <% courses.forEach(course => { %>
          <% count = count === 3 ? 0 : count; %>
      		<div class="col-lg-4 col-md-6 portfolio-item <%= course.categories ? course.categories.split(' ').map(el=>'filter-'+el).join(' ') : 'null' %>" data-wow-delay="0.<%= count %>s">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-center" style="height:35px;">
                  <a href="<%= course.affiliateUrl %>"><%= course.title %></a>
                </div>
              </div>
        		  <div class="portfolio-wrap">  
        		    <img src="<%= course.thumbnailUrl.replace('240x135', '480x270'); %>" class="img-fluid" alt="<%= course.title %>">
        		    <div class="portfolio-info">
        		      <h5 class="text-white">
                    <%= course.rating %> rating
                  </h5>
        		      <div>
        		        <a href="<%= course.affiliateUrl %>" class="link-details" title="View Course">
                      <i class="ion ion-android-open"></i>
                    </a>
                    <% if (currentUser && currentUser.admin) { %>
                    <a href="/courses/<%= course.id %>/edit" class="link-details" title="Edit Course">
                      <i class="ion ion-android-create"></i>
                    </a>
                    <a href="/courses/<%= course.id %>/delete" class="link-details" title="Delete Course">
                      <i class="ion ion-android-delete"></i>
                    </a>
                    <% } %>
        		      </div>
        		    </div>
        		  </div>
            </div>
      		</div>
      		<% count++; %>
      	  <% }); %>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
    Udemy Sale Banner 2
    ============================ -->
    
    <% if((new Date()).getDate() >= 24 && (new Date()).getDate() <= 29) { %>
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Learning that's big on value, not price.</h3>
            <p class="cta-text">Udemy online courses from $12.99 during this sale.</p>
            <a href="https://click.linksynergy.com/fs-bin/click?id=O*yDCFDQTmY&offerid=624447.11972&type=3&subid=0"
            >
              <img src="/images/banners/39197_8888.png" alt="Udemy online courses from $12.99" class="img-fluid mb-2">
            </a>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="https://click.linksynergy.com/fs-bin/click?id=O*yDCFDQTmY&offerid=624447.11972&type=3&subid=0">Explore This Sale on Udemy!</a>
          </div>
        </div>

      </div>
    </section>
    
    <% } %>

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>DevSprout</h3>
                    <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p> -->
                  </div>

<!--                   <div class="footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem.</p>
                    <form action="" method="post">
                      <input type="email" name="email"><input type="submit"  value="Subscribe">
                    </form>
                  </div> -->

                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>Navigation</h4>
                    <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#portfolio" class="scrollto">Courses</a></li>
                      <!-- <li><a href="#">About us</a></li> -->
                      <!-- <li><a href="#">Services</a></li> -->
                      <!-- <li><a href="#">Terms of service</a></li> -->
                      <!-- <li><a href="#">Privacy policy</a></li> -->
                    </ul>
                  </div>

                  <div class="footer-links">
                    <p>
                      Header image by Jesus Kiteque<br> on <a href="https://unsplash.com/photos/wn-KYaHwcis" target="_blank">Unsplash</a>
                    </p>
                  </div>

                  <div class="social-links">
<!--                     <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
                  </div>

                </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">
              
             <!--  <h4>Send us a message</h4>
              <p>Eos ipsa est voluptates. Nostrum nam libero ipsa vero. Debitis quasi sit eaque numquam similique commodi harum aut temporibus.</p>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form> -->
            </div>

          </div>

          

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>DevSprout</strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
